# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pychrm\zww_hogwarts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
